@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #674baf;
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.5;
}

img,
svg {
  display: block;
}

.container {
  max-width: 80.75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: relative;
  right: 0.25rem;
  margin-top: 3.35rem;
  margin-bottom: 5.4rem;
  width: 13.4rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}

.img-section {
  width: 55%;
}

.mockup {
  width: 100%;
}

.text-section {
  padding-left: 3rem;
  width: 45%;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 2.75rem;
  margin-bottom: 1.25rem;
}

.description {
  font-size: 1.15rem;
}

.register {
  background-color: white;
  color: #674baf;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  width: 12.5rem;
  padding: 1rem;
  border-radius: 30px;
  border: none;
  margin-top: 1.5rem;
}

.register:hover {
  background-color: #e882e8;
  color: white;
  cursor: pointer;
}

/* Social Media Icons */
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.icon-border {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-border:hover {
  border: 1px solid #e882e8;
  color: #e882e8;
  cursor: pointer;
}

/* Footer Section */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--white);
}

.attribution a:hover {
  color: var(--soft-magenta);
}

/* Media Queries */
@media screen and (max-width: 1205px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .image, .text-section {
    width: 100%;
  }
  .text-section {
    padding-left: 0;
    text-align: center;
  }
  .social-icons {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 576px) {
  body {
    background-image: url("../images/bg-mobile.svg");
  }
  .container {
    width: 83%;
  }
  .logo {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    width: 8rem;
  }
  .main {
    margin-bottom: 3.75rem;
  }
  .heading {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 1.25rem;
  }
  .description {
    font-size: 1rem;
    padding: 0 0.25rem;
  }
  .register {
    padding: 0.5rem;
  }
  .footer {
    gap: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */